p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* DATATABLE BUTTON CSS */

/* active button + hover */
.html-widget .dt-button.buttons-columnVisibility.active:not(.disabled),
.html-widget .dt-button.buttons-columnVisibility.active:not(.disabled):hover:not(.disabled) {
  font-weight: bold;
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #ACCBFF 100%);
}


/* nonactive button + hover */
.html-widget .buttons-columnVisibility, .dt-button.buttons-columnVisibility:hover:not(.disabled){
  font-weight: normal;
  background-color: #dadada;
}


/* hovering on any button, active or not */
.html-widget .dt-button.buttons-columnVisibility:not(.active):hover:not(.disabled), .html-widget .dt-button.buttons-columnVisibility.active:not(.disabled):hover:not(.disabled) {
  box-shadow: 0 0 0 2px blue;
}

/* using :focus for clicking since :active isn't working, at least for background-image DOESN'T WORK IN FIREFOX OR SAFARI */

/* active --> not active */
.html-widget .dt-button.buttons-columnVisibility.active:not(.disabled):focus:not(.disabled) {
      font-weight: normal;
      box-shadow: none;
      background-image: linear-gradient(to bottom, #f0f0f0 0%, #CCCCCC 100%);
  }

/* not active --> active */
.html-widget .dt-button.buttons-columnVisibility:not(.active):not(.disabled):focus:not(.disabled) {
    font-weight: bold;
    box-shadow: none;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #649EFF 100%);
  }

/* Create space around "Show entries" so it's not too close to column visibility button */

.dataTables_length {
  margin-top: 8px;
  margin-right: 30px;
}
