p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

button.dt-button.buttons-columnVisibility.active {
  font-size: 110%;
  font-weight: bold;
}

button.dt-button {
  margin-left: 30px;
}

.dataTables_length {
  margin-top: 8px;
}
}
